<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Oswald&display=swap" rel="stylesheet">
    <title>AwB Landon Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <ul>
        <li style="--i:5;"><a href="#">Home</a></li>
        <li style="--i:4;"><a href="#">About</a></li>
        <li style="--i:3;"><a href="#">Team</a></li>
        <li style="--i:2;"><a href="#">Servers</a></li>
        <li style="--i:1;"><a href="https://discord.gg/wXXyKwHaZ7">Discord</a></li>
    </ul>

</body>
</html>